.backgroundIcon,
.page1 {
  width: 100%;
  overflow: hidden;
}
.backgroundIcon {
  height: 1024px;
  position: absolute;
  margin: 0 !important;
  top: -100px;
  right: 0;
  left: 0;
  max-width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.page1 {
  position: relative;
  background-color: var(--body);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
  gap: var(--gap-lgi);
  line-height: normal;
  letter-spacing: normal;
}
